@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@700&family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.main-container{
    display: flex;
    width: 920px;
    height: 500px;
    margin: 171px auto 129px auto;

}

.sedan-section{
    background:  hsl(31, 77%, 52%);
}
.suvs-section{
    background: hsl(184, 100%, 22%);
}
.luxury-section{
    background: hsl(179, 100%, 13%);
}

.sedan-section,.suvs-section,.luxury-section{
    display: flex;
    flex-direction: column;
}

.car-image img{
    margin-top: 48px;
    margin-left: 48px;
}

.car-type{
    color: #fff;
    font-family: 'Big Shoulders Display',sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.car-description p{
    color: #fff;
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 47.5px;
}

.car-type,.main-cta{
    margin-left: 48px;
}

